.project-modal {
    background-color: rgb(195, 224, 229);
    width: 60%;
    height: fit-content;
    position: absolute;
    top: 1%;
    left: 20%;
    box-shadow: 0 0 100rem 100rem rgba(0, 0, 0, 0.8);
    z-index: 999;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;

    &__header {
        background-color: rgb(157, 182, 187);
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        height: 25px;
        padding: 0.3rem;

        &__close_btn {
            background-color: rgb(182, 9, 9);
            color: rgb(121, 2, 2);
            border-radius: 1000rem;
            height: 20px;
            width: 20px;
            margin: 0;
            padding: 0.1rem;
        }
    }

    &__project-title {
        text-align: center;
        color: #274472;
    }

    &__todos-container {
        display: grid;
        color: #274472;
        width: 80%;
        margin: 0 auto;
        height: fit-content;
    }
}
