
.project-row {
    margin: 1rem 0 1rem 0;
    padding: 0.8rem;
    grid-template-columns: 4fr 0.5fr;
    background-color: #41729f;
    color: #c3e0e5;
    border-radius: 0.8rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: fit-content;
  }
