@import './assets/styles/variables';
@import './assets/styles/utilities';
@import './assets/styles/margins';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #274472;
    font-family: 'Poppins', sans-serif;
    color: #c3e0e5;
    margin: 0;
  }
  
  a {
    text-decoration: none;
  }

  .list-container {
    width: 50%;
    margin: 0 auto;
  }

  .navigation {
    row-gap: 0.2rem;
  }
